<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/stylesheet.css">
	<title>漫画一覧</title>
  <body>
<div th:replace="~{block/header::header}"></div>
    <div class="container">
      <div class="p-3 mb-2 mt-5 bg-secondary text-white">ア行</div>


      <div class = "ml-3" onclick="obj=document.getElementById('menu1').style; obj.display=(obj.display=='none')?'block':'none';">
<a style="cursor:pointer;">ア▼</a>
</div>
<!-- ここから先を折りたたむ -->
<div id="menu1" style="display:none;clear:both;">

<hr>
<a href ="#" class = "ml-3">ああっ女神さまっ</a>
<hr>

<hr>
<a href ="#" class = "ml-3">ARMS</a>
<hr>

<hr>
<a href ="#" class = "ml-3">アイアムアヒーロー</a>
<hr>

<hr>
<a href ="#" class = "ml-3">アイシールド21</a>
<hr>

<hr>
<a href ="#" class = "ml-3">I"s</a>
<hr>

<hr>
<a href ="#" class = "ml-3">OUT</a>
<hr>

<hr>
<a href ="#" class = "ml-3">アオアシ</a>
<hr>

<hr>
<a href ="#" class = "ml-3">蒼き鋼のアルペジオ</a>
<hr>

<hr>
<a href ="#" class = "ml-3">青の祓魔師</a>
<hr>

</div>






</div>

<div th:replace="~{block/footer::footer}"></div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="../js/bootstrap.js"></script>


</body>

</html>