<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/stylesheet.css">
	<title>人気漫画ランキング</title>
  <body>
  <div th:replace="~{block/header::header}"></div>

  <div class="container">
      <h1 class="text-center mt-5">人気漫画ランキング</h1>
      <!-- 4個分のタブ -->
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a href="#top" class="nav-link active aiueo" data-toggle="tab">1~10位</a>
        </li>
        <li class="nav-item">
          <a href="#mid" class="nav-link aiueo" data-toggle="tab">11~20位</a>
        </li>
        <li class="nav-item">
          <a href="#bot" class="nav-link aiueo" data-toggle="tab">21~30位</a>
        </li>

      </ul>


      <div class="tab-content">
        <div id="top" class="tab-pane active">


          <div class="card-body">
			<div th:each="s, item:${top_list}">
            <div class="row d-flex align-items-center">
        		<div class="col-md-1">
        			<h1 class="m-5" th:text="${item.count}"></h1>
        		</div>
        		<div class="col-md-3" style="height:220px">
          			<img class="h-100 ml-5" th:src="|../img/${s.comic_id}.JPG|" height="212px" width="152px"></img>
        		</div>
        		
	        		<div class="col-md-6 d-flex flex-column align-items-between" style="height:220px">
	          			<div class="m-2">
		          			<a href="#">
		          				<font color="#000000">
		          					<h2 class="text-center" th:text="${s.name}"></h2>
		          				</font>
	          				</a>
	          			</div>
	          			<div class="m-2">
		          			<hr>
		          			<p th:text="|作者：${s.author}&nbsp;&nbsp;&nbsp;&nbsp;出版社：${s.publisher}|"></p>
		          			<hr>
		          		</div>
		          		<div class="m-2">
	          				<p th:text="|評価：${s.sum_eva}&nbsp;&nbsp;&nbsp;&nbsp;評価人数：${s.sum_num}|"></p>
	          			</div>
	        		</div>
       		</div>
       		<hr>
		</div>
       	</div>

	</div>

	<div id="mid" class="tab-pane">

          <div class="card-body">
			<div th:each="s, item:${mid_list}">
            <div class="row d-flex align-items-center">
        		<div class="col-md-1">
        			<h1 class="m-5" th:text="${item.count} + 10"></h1>
        		</div>
        		<div class="col-md-3" style="height:220px">
          			<img class="h-100 ml-5" th:src="|../img/${s.comic_id}.JPG|" height="212px" width="152px"></img>
        		</div>
        		
	        		<div class="col-md-6 d-flex flex-column align-items-between" style="height:220px">
	          			<div class="m-2">
		          			<a href="#">
		          				<font color="#000000">
		          					<h2 class="text-center" th:text="${s.name}"></h2>
		          				</font>
	          				</a>
	          			</div>
	          			<div class="m-2">
		          			<hr>
		          			<p th:text="|作者：${s.author}&nbsp;&nbsp;&nbsp;&nbsp;出版社：${s.publisher}|"></p>
		          			<hr>
		          		</div>
		          		<div class="m-2">
	          				<p th:text="|評価：${s.sum_eva}&nbsp;&nbsp;&nbsp;&nbsp;評価人数：${s.sum_num}|"></p>
	          			</div>
	        		</div>
       		</div>
       		<hr>
		</div>
       	</div>

	</div>

	<div id="bot" class="tab-pane">

          <div class="card-body">
			<div th:each="s, item:${bot_list}">
            <div class="row d-flex align-items-center">
        		<div class="col-md-1">
        			<h1 class="m-5" th:text="${item.count} + 20"></h1>
        		</div>
        		<div class="col-md-3" style="height:220px">
          			<img class="h-100 ml-5" th:src="|../img/${s.comic_id}.JPG|" height="212px" width="152px"></img>
        		</div>
        		
	        		<div class="col-md-6 d-flex flex-column align-items-between" style="height:220px">
	          			<div class="m-2">
		          			<a href="#">
		          				<font color="#000000">
		          					<h2 class="text-center" th:text="${s.name}"></h2>
		          				</font>
	          				</a>
	          			</div>
	          			<div class="m-2">
		          			<hr>
		          			<p th:text="|作者：${s.author}&nbsp;&nbsp;&nbsp;&nbsp;出版社：${s.publisher}|"></p>
		          			<hr>
		          		</div>
		          		<div class="m-2">
	          				<p th:text="|評価：${s.sum_eva}&nbsp;&nbsp;&nbsp;&nbsp;評価人数：${s.sum_num}|"></p>
	          			</div>
	        		</div>
       			
       		</div>
       		<hr>
		</div>
       	</div>

	</div>



  </div>


 </div>


<div th:replace="~{block/footer::footer}"></div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="../js/bootstrap.js"></script>


</body>

</html>