<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/stylesheet.css">
	<title>漫画検索</title>
  <body>
<div th:replace="~{block/header::header}"></div>
  <!-- ここから記入 -->
	<div class="m-3">
    	<h1 class="text-center">漫画検索</h1>

        <ul class="nav nav-pills nav-tabs m-2">
            <li class="mb-2 active"><a class="nav-link active" href="#comic" data-toggle="tab">漫画名</a></li>
            <li class="mb-2"><a class="nav-link" href="#author" data-toggle="tab">作者名</a></li>
            <li class="mb-2"><a class="nav-link" href="#publisher" data-toggle="tab">出版社</a></li>
        </ul>
        <!-- <div class="m-2 text-danger">漫画名が未入力です。</div> -->
        <form action="">
            <div class="tab-content">
                <div class="tab-pane m-2 active" id="comic">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="カタカナで漫画名を入力してください。">
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit">検索</button>
                        </span>
                    </div>
                </div>
                <div class="tab-pane m-2" id="author">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="作者名を入力してください。">
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit">検索</button>
                        </span>
                    </div>
                </div>
                <div class="tab-pane m-2" id="publisher">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="出版社を入力してください。">
                        <span class="input-group-btn">
                          <button class="btn btn-primary" type="submit">検索</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <h3 class="m-2 mt-5">検索結果</h3>

        <table class="table">
            <tr>
                <td>
                    <div class="lead d-flex align-items-center">漫画名：<a href="#">ハンターハンター</a></div>
                </td>
                <td>
                    <div class="mt-1">作者：冨樫義博</div>
                    <div class="mt-1">出版社：週刊少年ジャンプ</div>
                </td>
                <td>
                    <div class="mt-1">評価：5.0</div>
                    <div class="mt-1">評価人数：3人</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="lead d-flex align-items-center">漫画名：<a href="">幽遊白書</a></div>
                </td>
                <td>
                    <div class="mt-1">作者：冨樫義博</div>
                    <div class="mt-1">出版社：週刊少年ジャンプ</div>
                </td>
                <td>
                    <div class="mt-1">評価：5.0</div>
                    <div class="mt-1">評価人数：4人</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="lead d-flex align-items-center">漫画名：<a href="">ろくでなしBLUES</a></div>
                </td>
                <td>
                    <div class="mt-1">作者：森田まさのり</div>
                    <div class="mt-1">出版社：週刊少年ジャンプ</div>
                </td>
                <td>
                    <div class="mt-1">評価：5.0</div>
                    <div class="mt-1">評価人数：3人</div>
                </td>
            </tr>
        </table>

    </div>









<div th:replace="~{block/footer::footer}"></div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="../js/bootstrap.js"></script>


</body>

</html>